<!DOCTYPE html>
<html lang="en">
<head>
{% block head %}
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  {% if header.description %}
  <meta name="description" content="{{ header.description }}">
  {% else %}
  <meta name="description" content="{{ site.description }}">
  {% endif %}

  {% if header.robots %}
  <meta name="robots" content="{{ header.robots }}">
  {% endif %}

  <link rel="icon" type="image/png" href="{{ theme_url }}/images/favicon.png">

  <title>{% if header.title %}{{ header.title }} | {% endif %} {{ site.title }}</title>

  {% block stylesheets %}
    {% do assets.add('theme://css/styles.css', 101) %}

    {{ assets.css() }}
  {% endblock stylesheets %}
{% endblock head %}
</head>

<body>
  <div class="text-center">
    <h1>Welcome to Grav Theme - Front-End Workflow theme</h1>
    <hr>
    <h2>Start your HTML templating on this file.</h2>
    <ul>
      <li>Layout your design comps</li>
      <li>Use any js or css transitions plugins</li>
    </ul>
    <h2>Then convert to Grav Theme.</h2>
    <h6>PLAN YOUR PAGE HIERARCHY ATTACK!</h6>
    <hr>
    <h5>For Grav Theming Tutorial: <a href="https://learn.getgrav.org/themes/theme-tutorial">https://learn.getgrav.org/themes/theme-tutorial</a></h5>
  </div>

  {% block content %}{% endblock %}

  {% block javascripts %}
    {% do assets.add('theme://js/scripts.js', 101) %}

    {{ assets.js() }}
  {% endblock javascripts %}
</body>
</html>
